header {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 25px 43px;
}

body,
.header,
.hero,
.products,
.newsletter,
.footer {
	transition: background-color 0.3s, color 0.3s;
}

.header,
.products__button,
.newsletter__button,
.hero__filter,
.header__button {
	background-color: #fff;
	color: #000;
}

.dark-theme body,
.dark-theme .hero,
.dark-theme .products,
.dark-theme .newsletter,
.dark-theme .hero__title,
.dark-theme #theme-toggler {
	background-color: #14212f;
	color: #fff;
}

.dark-theme .header,
.dark-theme .header__logo,
.dark-theme .header__menu-link,
.dark-theme .footer,
.dark-theme .products__button,
.dark-theme .newsletter__button,
.dark-theme .footer__column--link,
.dark-theme .hero__filter,
.dark-theme .products__item,
.dark-theme .products__name,
.dark-theme .products__price,
.dark-theme .header__button {
	background-color: #0d1117;
	color: #fff;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	color: #333;
	text-decoration: none;
	font-size: 24px;
	line-height: 29.26px;
}

.header__menu {
	list-style: none;
	display: flex;
	gap: 44px;
}

.header__menu-link {
	color: #333;
	text-decoration: none;
	font-size: 16px;
}

.header__menu-link:hover {
	color: #007bff;
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 16px;
}

.header__button {
	border: none;
	background-size: cover;
	background-position: center;
	width: 20px;
	height: 20px;
}

.header__button--search {
	background-image: url(../images/search.svg);
}

.header__button--shopping-cart {
	background-image: url(../images/shopping--cart.svg);
}

.header__button--user-avatar {
	background-image: url(../images/user--avatar.svg);
}

#theme-toggler {
	background-color: #bdbebe;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
}

.hero {
	text-align: center;
	padding: 20px 43px;
}

.hero__title {
	color: #333;
	font-size: 36px;
	line-height: 50.4px;
	padding-bottom: 20px;
}

.hero__filters {
	display: flex;
	justify-content: space-between;
}

.hero__filter {
	border-radius: 10px;
	background-color: #bdbebe;
	display: flex;
	padding: 12px 24px;
	border: none;
	font-size: 16px;
	line-height: 24px;
}

.hero__nav {
	display: flex;
	gap: 12px;
}

.hero__sorting {
	display: flex;
	gap: 12px;
	align-items: center;
}

.products {
	padding: 30px 43px;
}

.products__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	padding-bottom: 24px;
}

.products__item {
	display: flex;
	flex-direction: column;
	gap: 24px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	background-color: #bdbebe;
}

.products__image {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.product__other {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 10px;
}

.products__name {
	display: flex;
	color: #000;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
}

.products__price {
	display: flex;
	color: #000;
	font-size: 18px;
	line-height: 27px;
}

.products__button-container {
	display: flex;
	justify-content: center;
}

.products__button {
	padding: 16px 32px;
	background-color: #bdbebe;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
}

.newsletter {
	display: flex;
	min-height: 521px;
	align-items: stretch;
}

.newsletter__image {
	background: url('../images/join-background.jpg') center center no-repeat;
	background-size: cover;
	flex: 1;
}

.newsletter__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 43px 40px;
}

.newsletter__text {
	align-self: start;
}

.newsletter__title {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 32px;
	line-height: 39.01px;
}

.newsletter__description {
	font-size: 16px;
	line-height: 24px;
}

.newsletter__action {
	align-self: start;
}

.newsletter__button {
	padding: 16px 32px;
	color: #fff;
	background-color: #2a254b;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
}

.footer {
	display: flex;
	flex-direction: column;
	background-color: #2a254b;
	padding: 0px 43px;
	color: #fff;
}

.footer_ {
	display: flex;
	border-bottom: 1px solid #4e4d93;
	padding-top: 58px;
	padding-bottom: 58px;
}

.footer__nav {
	display: flex;
	justify-content: space-between;
	flex: 1;
	padding-right: 93px;
}

.footer__title {
	text-decoration: none;
	font-size: 16px;
	line-height: 19.5px;
}

.footer__column--list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.footer__column--item {
	text-decoration: none;
}

.footer__column--link {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 19.07px;
}

.footer__map {
	flex: 1;
}

.footer__map--img {
	width: 100%;
	min-height: 100%;
	border-radius: 10px;
}

.footer__ {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer__copyright {
	font-size: 14px;
	line-height: 19.07px;
}

.footer__socials {
	display: flex;
	gap: 12px;
	align-items: center;
	list-style-type: none;
}
