body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-top: 100px;
}

.btn {
	padding: 20px 40px;
	border: none;
	border-radius: 20px;
	background-color: #34567b;
	color: aliceblue;
	cursor: pointer;
	font-size: 20px;
}

.text-container {
	padding: 20px 40px;
	border-radius: 20px;
	background-color: #384963;
	color: aliceblue;
	font-size: 20px;
}

.timer {
	padding: 20px 80px;
	border-radius: 20px;
	background-color: #0d1117;
	color: aliceblue;
	font-size: 20px;
}
